@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-red: #D32F2F;
  --secondary-red: #FFEBEE;
  --black: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-red: var(--primary-red);
  --color-secondary-red: var(--secondary-red);
  --color-black: var(--black);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}